 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@100&display=swap');
 *{font-family: 'Roboto', sans-serif;
 }


.container{
    max-width: 1200px;
    margin: 0 auto; 
  }


.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  height: 80px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}



.menu-link-button {
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  height: 40px;
  width: 150px;
  background-color: #4c6ef5;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 0px -255px;
}
.menu-link-button2 {
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: #0a98fe38;
    color: #4c6ef5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0px -30px
    
  }
  
.secao1, .secao2{
    margin: 10px 10px;
    display: flex;
    flex-direction: row-column;
    justify-content: space-evenly;
}

.produtos li{
        font-weight: bold;
        justify-content: left;
        flex-direction: row;
        float: left;
        display: flex ;
        flex-direction: column;
        margin: 10px;
        width: 207px;
        height: 275px;
        padding: 0px ;
        background-color: #8683830a;
        border-radius: 8px;
        align-items: center ;
}

.produtos > li > .tituloCard {
 font-size: 20px;
}

.produtos > li > .valorProduto {
  font-size: 16px;
  font-weight: bold;
}



.titulo, .titulo2{
    margin-left: 100px;
}
 
.produtos > li > img{
  margin-top: 4px;
  width: 70%;
  height: 60%;
}

.produtos2 li{
  font-weight: bold;
  justify-content: left;
  flex-direction: row;
  float: left;
  display: flex ;
  flex-direction: column;
  margin: 10px;
  width: 207px;
  height: 275px;
  padding: 0px ;
  background-color: #0000000a;
  border-radius: 8px;
  align-items: center;

}

.produtos2 > li > img{
  margin-top: 4px;
  width: 70%;
  height: 60%;
}