* {
    font-family: 'Inter', sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto; 
  }


.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 50px; 
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botão-carrinho {
    margin: 10px;
    text-decoration: none;
    height: 50px;
    width: auto;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

.produtos {
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px auto;
    width: 24%;
    height: 430px;
    padding: 0 ;
    border: 2px solid #E2E2EC;
    box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    align-items: center ;
    
   
}
.produtos > img {
    width: auto;
    height: auto;
    object-fit: cover;
    
}
.preço {
    margin-right: 180px;
}